{{>header}}
{{>navbar}}
<section class="container my-3">
    <h2>Add New Client</h2>
    <form method='get'>
         <div class="mb-3">
             <label>Account Number</label>
            <input class="form-control" name="accNum" >
        </div>
        <div class="mb-3">
            <label>Name</label>
            <input class="form-control" name="name">
        </div>
         <div class="mb-3">
            <label>Address</label>
            <input class="form-control" name="address" >
        </div>
         <div class="mb-3">
            <label>Phone</label>
            <input class="form-control" name="phone">
        </div>
         <div class="mb-3">
            <label>Initial Balance</label>
            <input class="form-control" name="initialBalance" >
        </div>
        <div class="mb-3">
             <button class="btn btn-primary">Add Client</button>
        </div>
    </form>
</section>
{{>footer}}