{{>header}}
{{>navbar}}
<section class="container my-3">
    <h2>Client Transaction Add</h2>
    <form method='post'>
            <div class="btn-3">
                <label>Transaction Value</label>
                <input name="transactionValue" class="form-control">
            </div>
            <br>
            <div class="btn-3">
                <button class="btn btn-primary">Add</button>
            </div>
    </form>
</section>
{{>footer}}